# Django Configuration
SECRET_KEY=django-insecure-t10_f1@c+nl)mimf^-6!&_vdyal1hcskx*)i!23%ltt_=0)p74
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (PostgreSQL or fallback to SQLite if DB_ENGINE is sqlite)
DB_ENGINE=sqlite
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=mypersonal
DB_HOST=localhost
DB_PORT=5432

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_ALWAYS_EAGER=True
