*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#2563eb;
}

nav h2{

    color:white;

}

nav a{

    color:white;

    text-decoration:none;

    margin-left:25px;

}

.hero{

    height:85vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

}

.hero h1{

    font-size:55px;

}

.hero p{

    margin-top:20px;

    font-size:22px;

}

.login-container{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

}

.login-card{

    width:400px;

    background:white;

    padding:40px;

    border-radius:10px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

}

.login-card h2{

    margin-bottom:25px;

    text-align:center;

}

.login-card input{

    width:100%;

    padding:12px;

    margin-bottom:20px;

    border:1px solid #ccc;

    border-radius:5px;

}

.login-card button{

    width:100%;

    padding:12px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

}